[flake8]
max-line-length = 120
max-complexity = 40
ignore =
  E203
  W503  # line break before binary operator; conflicts with black
exclude =
    .git
    .tox
    __pycache__
    build
    dist
    experiments
    src
    venv
    env
    docs
docstring-convention = google
